*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:'Ubuntu';
    font-size: 62.5%;
    height:100vh;
    width:100vw;
    color:white;
}
a{
    text-decoration: none;
    color:pink;
}
/* ----------------
===========STYLING
----------------------- */
header{
    height: 80vh;
    width:100%;
}
.main-page{
    background: url(../images/background-main-page.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar{
    display: flex;
    padding:2% 6%;
}
.navbar a{
    color: white;
    text-transform: capitalize;
    font-size: 3rem;
    font-family: 'Oleo Script';
    margin-right: auto;
}
.navbar img{
    width:2rem;
}
.heading{
    font-size:3rem;
    width:50%;
    margin:5% 0 0 5%;
    letter-spacing: 2px;
    animation: slideInLeft 3s ease-in 0.5s;
 
}
.scroll-text{
    letter-spacing: 3px;
    margin:13rem 0 0 2rem;
    font-family: 'Oleo Script';
    color:white;
    animation: upAndDown 0.7s linear 0;
    animation-iteration-count: infinite;
}
/* ----headings gradient--- */
.heading,
.section-compatibility-heading P{
     background: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
    -webkit-background-clip: text;
    color:transparent;
}
  
/* ---------------------

SECTION TWO

---------------------------*/
.section-2{
    height:110vh;
    display: flex;
    color:black;
    flex-basis: 50%;
    overflow-x: hidden;
}
.section-2-image-container{
    width:80%;
    overflow:hidden;
}
.section-2-image-container img{
    max-width:100%;
    height:100%;
    transform: scale(1.5);
}
.section-2-text{
    padding:6rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;

}
.section-2-text h2{
    font-size:3rem;
    width:70%;
    margin-bottom:1rem;
}
.section-2-subheading{
    font-size:1rem;
    width:85%;
    margin:2rem 0;
    color:grey;
}
.buy-now-button{
    background-color: rgb(212, 81, 34);
    width: 45%;
    padding:1rem 3rem;
    text-align: center;
    color:white;
    font-size: 0.8rem;
    margin-bottom: 2.5rem;
}
.features-text p{
    font-size: 1rem;
    font-weight: bold;
}
.features-text h3{
    font-size: 3rem;
    margin-bottom:0.7rem;
}
.features-text p:last-of-type{
   margin-top:3rem;
   font-size: 0.8rem;
   width:90%;
   color: rgb(116, 113, 113);
}
/* -----------------------
SECTION COMPATIBILITY
-----------------
*/
.section-compatibility{
    height:22vh;
    background:black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 14rem;
    width:100vw;
}
.section-compatibility-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: fadeUp 3s ease-in 1s;
}
.section-compatibility p{
    font-size:0.8rem;
    text-align: center;
}
.section-compatibility span{
    text-align: center;
    color: crimson;
    margin-left:35%;
}
.section-compatibility-heading{
    margin-right:1rem;
}
.section-compatibility-heading p{
    position: relative;
    font-size:2.5rem;}
/* -----------------------------
section working
---------------------------*/
.section-working{
    color: black;
}
.banner-work{
    background-color: darkgray;
    width: 10rem;
    padding:1rem 0;
    color:white;
    font-size: 1rem;
    text-align: center;
    transform: translate(300%,-35%);
}
.section-working-main-text{
    text-align: center;
    font-size: 3rem;
    width:55%;
    margin:auto;
    margin-top:12%;
    color: darkgray;
}
.image-1-container,
.image-2-container,
.image-3-container{
    display: flex;
    margin-top:12%;
    padding:0 0.8rem;
}
.image-2-container{
    flex-direction: row-reverse;
}
.image-1-text,
.image-2-text,
.image-3-text{
    padding:1rem 2rem;
    margin-top:18%;
}
.image-1-text span,
.image-2-text span,
.image-3-text span{
    color:rgba(169, 169, 169, 0.753);
    font-size: 1.5rem;
}
.image-1-text h4,
.image-2-text h4,
.image-3-text h4{
    font-size:2.5rem;
    letter-spacing: -1px;
    margin:1.5rem 0 3rem;
}
.image-1-text p,
.image-2-text p,
.image-3-text p{
    font-size: 1.1rem;
    line-height: 2;
}
/* -------------
upcoming text
*/
.upcoming{
    height: 80vh;
    font-size: 4rem;
    text-align: center;
    margin-top:5%;
}   
.upcoming h5{
    width:80%;
    padding:20% 0 0 20%;
    background: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    color:transparent;
    -webkit-background-clip: text;
}
/* ------------
FOOTER
-------------*/
footer{
    height: 15vh;
    display: flex;
    font-size: 1.2rem;
    background: black;
    flex-basis: 50%;
    justify-content: space-between;
    padding:2rem;
}
footer a{
    background:linear-gradient(to top, #f43b47 0%, #453a94 100%);
    -webkit-background-clip: text;
    color:transparent;
}
.footer-links{
    display: flex;
    justify-content: space-between;
}
/* -----------------

CSS ANIMATIONS
=================*/
@keyframes fadeUp{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity:1;
    }
}
@keyframes slideInLeft{
     0%{
        opacity: 0;
        transform:translate(-200px,-200px);
    }
    50%{
        transform:translate(20px,20px);
    }
    100%{
        opacity:1;
        transform:translate(0,0);
    }
}
@keyframes upAndDown{
    0%{
        transform:translateY(-5px);
    }
    100%{
        transform:translateY(5px)
    }
}
/* --------------
MEDIA QUERIES
------------*/
@media (max-width:700px){
    .main-page{
        height:60vh;
        width:100%;
        background-size: 100%;
    }
   .scroll-text{
       display:none;
   } 
   .heading{
       font-size:2rem;
       animation:none;
   }
   .section-2{
    flex-basis: 100%;
    flex-direction: column;
}
.section-2-image-container{
    width:100%;
    height:100%;
}
.section-2-image-container img{
    width:100%;
    height:100%;

}
.section-2-text{
    padding:6rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;

}
.section-2-text h2{
    font-size:2rem;
}
.section-2-subheading{
    font-size:0.8rem;
}

.features-text p{
    font-size: 0.7rem;
}
.features-text h3{
    font-size: 1.3rem;
}
.features-text p:last-of-type{
   margin-top:1rem;
}

.image-1-container,
.image-2-container,
.image-3-container{
  flex-direction: column;
  flex-basis:100%;
}
.image-1-container div img,
.image-2-container div img,
.image-3-container div img{
    width:100%;
    height:24rem;
     padding:0;
}
.image-2-container{
    flex-direction: column;
}
.image-1-text,
.image-2-text,
.image-3-text{
    text-align: center;
}
.image-1-text span,
.image-2-text span,
.image-3-text span{
    font-size: 1rem;
}
.image-1-text h4,
.image-2-text h4,
.image-3-text h4{
    font-size:1.8rem;
}
.image-1-text p,
.image-2-text p,
.image-3-text p{
    font-size: 0.9rem;
}
footer{
    font-size: 1rem;
    flex-basis:100%;
   flex-direction: column;
}

.footer-links{
   width:70%;
}
.banner-work{
    transform: translate(30vw,-2.5vh);
}
.section-compatibility-wrapper{
    
    animation: none;
}

.section-compatibility-heading{
    margin-right:1rem;
}
.section-compatibility-heading p{
    position: relative;
    font-size:1.5rem;}
}